*{
    box-sizing: border-box;
    
}
#group-1{
    border:5px solid green;
    background-color:peachpuff;
    height: 310px;
    width:250px;
    border-style:groove;
    border-radius: 15px;
    padding:5px;
    padding-left: 10px;
}
#group-2{
    border:3px solid;
    background-color:royalblue;
    height: 25px;
    width:100px;
    border-radius:5px;
    padding:0px 10px 10px ;
    margin: 10px;;
}
#group-3{
    border:5px solid blue;
    background-color :hotpink;
    height:330px;
    width:250px;
    border-style:groove;
    border-radius: 15px;
    padding:5px;
    padding-left: 10px;
    margin:7px;
}
